<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!--- PT-BR -->
		<add key="01-pt-br" value="Olá"/>
		<add key="02-pt-br" value="Bem vindo á pagina inicial."/>
		<add key="03-pt-br" value="teste teste teste teste teste teste teste teste teste teste teste teste"/>
		
		<!-- EN-US -->
		<add key="01-en-us" value="Hello"/>
		<add key="02-en-us" value="Welcome to start page."/>
		<add key="03-en-us" value="test test test test test test test test test test test test test test test"/>
	</appSettings>
</configuration>