@{
    ViewData["Title"] = "Home Page";
    // Busca as mensagens do app.config
    var mensagens = new LanguageConfigurationManager().Texts(Context.Request.Cookies["Language"]);
}
<select id="select-lg">
    <option value="">--</option>
    <option value="pt-br">Português</option>
    <option value="en-us">Inglês</option>
</select>

<div class="text-center">
    <h1 class="display-4">@mensagens.Msg01</h1>
    <p>@mensagens.Msg02</p>
    <p>@mensagens.Msg03</p>
</div>

@section Scripts{
    <script>
        // Al mexer no select, ele muda a linguagem e atualiza o site.
        $(document).ready(function () {
            $("#select-lg").on('change', function () {
                SetCookie($("#select-lg").val());
                window.location.reload();
            });
        });

        // Seta o Cookie
        function SetCookie(value) {
            var d = new Date();
            var dias = 1; // Salva Cookie por 1 dia
            d.setTime(d.getTime() + (dias * 24 * 60 * 60 * 1000));
            var expires = "expires=" + d.toUTCString();
            document.cookie = "Language=" + (value || "") + ";" + expires + "; path=/";
        }
    </script>
}